<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong>Status:</strong>
  <%= @tweet.status %>
=======
  <strong>Message:</strong>
  <%= @tweet.message %>
>>>>>>> ba10669983245f8554675fa8d12a438eb1fdfbbf
</p>

<p>
  <strong>Location:</strong>
  <%= @tweet.location %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
